IMAGE_TAG=84b38db
REGISTRY="git.mydomain.tld"
REGISTRY_USER="myusername"
REPOSITORY="overheadadsb"
TZ="Europe/London"
LAT="0.000"
LON="-1.000"
RAD_NM="10"
POLL_INT="10"
HOST_IP="192.168.1.xxx"
PORT="8003"
UVICORN_PORT="8003"
DOMAIN="mydomain.tld"
HTTP_TIMEOUT="5"
OWNER_POLL_CACHE_MAX="5000"
