# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.so

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.ruff_cache
.previous_tag

# Local config
.env
.env.*
!.env.example

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
